body{
    font-family:"comic sans MS";
    color:white;
    background: linear-gradient(rgba(0,0,0,0.94),rgba(0,0,0,0.64),rgba(0,0,0,0.35),rgba(0,0,0,0)) ,url(stimage.jpg) no-repeat  ;
    background-size: 1540px 900px;
}
.class{
    width:750px;
    float:right;
    border:1px solid none;
    
}
.class ul li{
    width:110px;
    float:left;
    margin: 9px;
    text-align:center ; 
}
.class ul li a{
    text-decoration:none; 
    color:rgb(248, 248, 249);
}
.class ul li:hover{
    background-color: rgb(1, 144, 1);
    box-shadow: 8px 7px 7px  0.5px rgb(76, 161, 76);
}
.w{
    width:300px;
    height:550px ;
    background-color: black;
    opacity: 0.8;
    padding:75px;
  
}
.w h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;

}
.w h4{
    text-align: justify;
    color:rgb(186, 182, 182);
    font-weight: normal;
    text-transform: uppercase;
}
.w h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
.w input{
    font-family:"comic sans MS" ;
}

.opt form , input[type="button"]{
    background-color: black;
    color: rgb(213, 209, 209);
    padding:10px;
    margin:14px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-transform: uppercase;
    
  
}
form, input[type="button"]:hover{
    background-color: green;
    
}
